body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: black;
}
*{
    color: rgb(103, 172, 238);
}
.header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: rgb(246, 204, 50);
}

.header h1{
    font-size: 23px;
}


.header h1 a{
    text-decoration: none;
}



.header h1 a:hover{
    text-decoration: underline;
    color: rgb(0, 114, 221);
    transition: .7s;
}

ul li {
    display: inline-block;
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    padding: 0px 15px;
}


ul li a:hover{
    transition: .7s;
    color: rgb(52, 150, 241);
}

.maintext{
    padding: 150px;
}


.button{
    margin-left: 50px;
    padding: 35px;
    background-color: rgb(246, 204, 50);
    width: 92px;
    height: 20px;
    margin-bottom: 100px;
    border-radius: 15px;
    text-align: center;
}

.button a{
    text-decoration: none;
    font-weight: 100;
}

.button a:hover{
    color: rgb(0, 83, 161);
    font-weight: 900;
    transition: 0.5s;
}



.inputs{
    padding-top: 150px;
    flex-wrap: wrap;
    width: 100%;
    color: gray;
    height: 80vh;
    text-align: center;
}

.inputs * {
    margin: 20px 20px;
}

#about{
    height: 200px;
    width: 450px;
    background-color: gray;
    overflow: hidden;
    border: 0 ;
    border-radius: 10px;
    padding: 15px;
}

.inputs button{
    color: rgb(0, 0, 0);
    height: 51px;
    font-weight: 900;
    
}



#card{
    padding-top: 150px;
    text-align: center;
    background-color: azure;
    border-radius: 15px;
    height: 70vh;
    width: 100%;
}
#card div{
    margin: 10px 0px;
}

#card h1{
    border-bottom: 2px black solid;
    color: rgb(246, 204, 50);
}

#download{
    text-align: center;
    padding: 20px;
}

#gender{
    border-bottom: rgb(246, 204, 50) solid 2px;
    padding-bottom: 15px;
}

#phonenumber{
    padding-bottom: 15px;
    border-bottom: rgb(246, 204, 50) solid 2px;
}

#zipcode{
    padding-bottom: 15px;
    border-bottom: rgb(246, 204, 50) solid 2px;
}


.temps{
    text-align: center;
    padding-top: 70px;
}


.temp img{
    height: 300px;
    border-radius: 15px;
}


.temp img{
    height: 300px;
    border-radius: 15px;
}


@media only screen and (max-width: 600px) {
    body{
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        background-color: black;
    }
    .header{
        display: flex;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        background-color: rgb(246, 204, 50);
        height: 50px;
    }
    .header h1{
        font-size: 13px;
    }
    #about {
        height: 100px;
        width: 150px;
        background-color: gray;
        overflow: hidden;
        border: 0;
        border-radius: 10px;
        padding: 15px;
    }
    .temp img {
        height: 150px;
        border-radius: 15px;
    }
    #card {
        padding-top: 150px;
        text-align: center;
        background-color: azure;
        border-radius: 15px;
        height: 60vh;
        width: 100%;
    }

}